## Wellpath calculations using wellpathpy

In [2]:
import wellpathpy as wp
import pandas as pd

In [3]:
survey_data = pd.read_csv(r'testdata-survey.csv')
survey_data

,depth_mMDRF,inclination_deg,azimuth_deg,TVD_mRF,mRSL,easting_m,northing_m
0,0.00,0.00,80.00,0.00,0.00,0.00,0.00
1,774.67,0.00,440.00,774.67,-774.67,0.00,0.00
2,786.80,0.64,396.39,786.80,-786.80,-0.05,0.05
3,799.62,1.14,411.76,799.62,-799.62,-0.16,0.21
4,813.18,2.28,415.96,813.17,-813.17,-0.33,0.58
...,...,...,...,...,...,...,...
124,2170.57,19.28,429.85,2094.84,-2094.84,-58.36,432.97
125,2181.00,19.27,430.48,2104.68,-2104.68,-58.95,436.36
126,2190.38,19.37,429.29,2113.53,-2113.53,-59.49,439.42
127,2200.73,19.26,430.66,2123.30,-2123.30,-60.09,442.79
128,2202.42,19.15,430.26,2124.90,-2124.90,-60.18,443.34